@font-face {
  font-family: "EastSeaDokdo-Regular";
  font-display: swap;
  src: url("../fonts/EastSeaDokdo-Regular.woff") format("woff"), url("../fonts/EastSeaDokdo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "XanhMono-Italic";
  font-display: swap;
  src: url("../fonts/XanhMono-Italic.woff") format("woff"), url("../fonts/XanhMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "XanhMono-Regular";
  font-display: swap;
  src: url("../fonts/XanhMono-Regular.woff") format("woff"), url("../fonts/XanhMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.menu__icon {
  display: none;
}

.menu__prev {
  display: none;
  z-index: 100;
}

._container {
  max-width: 1680px;
  margin: 0 auto;
}

.header-head {
  margin: -8px;
  overflow: hidden;
  background-color: #1c1d25;
  transition: all ease 0.5s;
  overflow: hidden;
}

.light {
  background-color: #f3f3f3 !important;
  transition: all ease 0.5s;
}

.header {
  transition: all ease 0.5s;
}

.header__content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'Carter One', 'cursive';
}

.header__row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  background: url(../img/Header/LOGO.png) 0 0 no-repeat;
  height: 99px;
  width: 80px;
  margin-left: 20px;
  z-index: 100;
}

.header__button {
  margin: 10px 10px 0px 10px;
}

.light-logo {
  display: block;
  background: url(../img/Header/LOGO-light.png) 0 0 no-repeat;
  height: 99px;
  width: 80px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0px 20px 0px 0px;
}

.menu__list li {
  z-index: 100;
}

.menu__list a {
  z-index: 100;
  color: #9698a1;
  text-decoration: none;
}

.menu .link-light a {
  color: #535565;
}

.menu__link {
  font-size: 38px;
  padding: 0px 20px 0px 20px;
}

.theme_changer {
  transition: all ease 0.5s;
  display: block;
  content: '';
  background: url(../img/Header/switch-button-defoalt.png) 0 0 no-repeat;
  width: 46px;
  height: 25px;
  margin-bottom: 10px;
}

.light-btn {
  transition: all ease 0.5s;
  display: block;
  background: url(../img/Header/switch-button-light.png) 0 0 no-repeat;
}

.preview-prew {
  margin: -8px;
  padding-top: 60px;
  background-color: #1c1d25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease 0.5s;
  color: #e8e9ed;
  padding-bottom: 190px;
}

.light-prev {
  background-color: #f3f3f3;
  transition: all ease 0.5s;
}

.light-prev-text {
  color: #535565 !important;
  transition: all ease 0.5s;
}

.menu__prev .preview__links {
  margin-left: -30px;
}

.preview__content {
  margin-bottom: 70px;
}

.preview__holder {
  transition: all ease 0.5s;
}

.preview__body {
  margin-top: -90px;
  margin-left: 180px;
  z-index: 10;
  background: url(../img/Header/logo-big.jpg.png) 0 0 no-repeat;
  width: 462px;
  height: 577px;
}

.preview__subtitle {
  margin-left: -450px;
  padding-top: 300px;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
}

.preview__title {
  margin-top: -20px;
  margin-left: -450px;
  font-size: 90px;
  font-family: 'Carter One', 'cursive';
}

.preview__footer {
  margin-top: 100px;
  margin-left: 350px;
  cursor: pointer;
  max-width: 22px;
  width: 100%;
  max-height: 67px;
  height: 100%;
  margin-top: 100px;
}

.preview__footer a {
  text-decoration: none;
}

.preview__footer span {
  color: #9698a1;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.preview__footer img {
  padding: 20px;
}

.preview__links {
  margin-bottom: 180px;
  margin-right: 10px;
  padding: 20px;
}

.preview__git {
  padding: 10px;
}

.preview__git img {
  width: 66px;
}

.preview__inst {
  padding: 10px;
}

.preview__inst img {
  width: 66px;
}

.preview__linked {
  padding: 10px;
}

.preview__linked img {
  width: 66px;
}

.preview__button {
  display: block;
  align-items: center;
}

.button-web {
  display: flex;
  margin-left: -450px;
  font-family: 'Carter One', 'cursive';
  align-items: center;
  font-size: 27px;
  cursor: pointer;
  color: #e8e9ed;
}

.button-web a {
  text-decoration: none;
  color: #e8e9ed;
}

.button-web__container {
  display: flex;
}

.button-web__container a {
  text-decoration: none;
  color: #e7dada;
}

.button-web__body {
  border: 2px solid #835183;
  border-radius: 10px;
  padding: 13px 20px 0px 20px;
  width: 181px;
  height: 70px;
  background: url(../img/Preview/button.png) 0 0 no-repeat;
}

.button-web__body a {
  text-decoration: none;
  color: #e8e9ed;
}

.button-web__body-pizza {
  border: 2px solid #835183;
  border-radius: 10px;
  padding: 13px 20px 0px 20px;
  width: 317px;
  height: 66px;
  background: url(../img/React-pizza-bg/Button-react-see.png) 0 0 no-repeat;
}

.button-web__arrow {
  margin-left: -20px;
  padding-top: 15px;
}

.button-web :hover img {
  margin-left: 16px;
  transition: all ease 0.5s;
}

.about-me {
  text-align: center;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: -10px;
  align-items: center;
  background: url(../img/Works/WORK-BG.png) no-repeat fixed center;
}

.about__content {
  margin-top: 70px;
}

.about__photo {
  font-family: 'Carter One', 'cursive';
  font-size: 38px;
  margin-bottom: 30px;
}

.about__info {
  font-family: 'Carter One', 'cursive';
  font-size: 69px;
}

.about__info span {
  content: '';
  background: url(../img/About/bg-buding.png) 0 0 no-repeat;
  width: 304px;
  height: 91px;
  padding: 0px 20px 0px 20px;
}

.about__infotmation {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

.about__bot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 30px;
}

.about__talk {
  font-family: 'Carter One', 'cursive';
  text-align: left;
  display: flex;
  font-size: 30px;
  margin-left: 40px;
}

.about__talk img {
  margin-top: -50px;
}

.about__talk nav {
  text-decoration: underline;
}

.about__contacts {
  font-family: 'Carter One', 'cursive';
  margin-right: 40px;
  font-size: 30px;
  text-align: right;
  margin-top: -21px;
}

.about__contacts a {
  text-decoration: none;
  color: #1c1d25;
}

.about__email {
  margin-top: 20px;
}

.talk-an {
  display: flex;
}

.works-work {
  overflow: hidden;
  margin-top: 10px;
  align-items: center;
  background: url(../img/Works/WORK-BG.png) no-repeat fixed center;
  display: flex;
  width: 100%;
}

.works {
  opacity: 1;
  transition: all ease 0.4s;
  display: flex;
  align-items: center;
}

.works__content {
  text-align: center;
}

.works__head {
  padding: 30px;
}

.works__subtitle {
  font-family: 'Carter One', 'cursive';
  font-size: 38px;
  color: #5b2982;
}

.works__title {
  font-family: 'Carter One', 'cursive';
  font-size: 60px;
  color: #1c1d25;
  margin-top: -20px;
  margin-bottom: 80px;
}

.works__question {
  padding-left: 40px;
}

.works__subtitle2 {
  font-family: 'Carter One', 'cursive';
  font-size: 38px;
  color: #f78400;
}

.works__title2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #1c1d25;
  margin-top: -10px;
  margin-bottom: 12px;
}

.btn1 {
  margin-left: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 3px 20px 0px 20px;
  width: 147px;
  height: 66px;
  background: url(../img/React-pizza-bg/Button-react-yes.png) 0 0 no-repeat;
  color: #ffffff;
  font-family: 'Carter One', 'cursive';
  align-items: center;
  font-size: 27px;
  cursor: pointer;
}

.btn2 {
  outline: none;
  margin-left: -40px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  padding: 3px 20px 0px 20px;
  width: 147px;
  height: 66px;
  background: url(../img/React-pizza-bg/Button-react-yes.png) 0 0 no-repeat;
  color: #ffffff;
  font-family: 'Carter One', 'cursive';
  align-items: center;
  font-size: 27px;
  cursor: pointer;
}

.row-works {
  padding: 80px 40px;
  width: 1420px;
}

.row-works__body {
  overflow: hidden;
  padding-left: 80px;
  text-align: left;
  background: url(../img/Works/first-work.png) top center;
  background-size: cover;
}

.row-works__body a {
  text-decoration: none;
  color: #e7dada;
}

.row-works__title {
  padding-top: 217px;
  font-family: 'Carter One', 'cursive';
  font-size: 60px;
  color: #e8e9ed;
}

.row-works__subtitle {
  padding-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #e8e9ed;
}

.row-works__button {
  padding-bottom: 40px;
  margin: 0;
}

.row-works__hover {
  display: none;
}

.hover-display {
  padding: 0;
  font-family: 'Carter One', 'cursive';
  font-size: 300px;
  color: #e7dada;
  display: block;
  margin-top: -222px;
  margin-bottom: -240px;
  margin-left: 700px;
  margin-right: -260px;
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes slideLeft {
  0% {
    transform: translateX(150%);
  }

  50% {
    transform: translateX(-8%);
  }

  65% {
    transform: translateX(4%);
  }

  80% {
    transform: translateX(-4%);
  }

  95% {
    transform: translateX(2%);
  }

  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
  }

  50% {
    -webkit-transform: translateX(-8%);
  }

  65% {
    -webkit-transform: translateX(4%);
  }

  80% {
    -webkit-transform: translateX(-4%);
  }

  95% {
    -webkit-transform: translateX(2%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

.row-works1 {
  padding: 80px 40px;
  width: 1420px;
}

.row-works1__body {
  padding-right: 80px;
  text-align: right;
  background: url(../img/Works/second-work.png) top center;
  background-size: cover;
}

.row-works1__body a {
  text-decoration: none;
  color: #e7dada;
}

.row-works1__title {
  padding-top: 217px;
  font-family: 'Carter One', 'cursive';
  font-size: 60px;
  color: #e8e9ed;
}

.row-works1__subtitle {
  padding-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #e8e9ed;
}

.row-works1__button {
  margin-left: 1070px;
  text-align: left;
  padding-bottom: 40px;
}

.row-works1__hover {
  display: none;
}

.hover-display2 {
  padding: 0;
  font-family: 'Carter One', 'cursive';
  font-size: 300px;
  color: #e7dada;
  display: block;
  margin-top: -222px;
  margin-bottom: -240px;
  margin-left: -1000px;
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes slideRight {
  0% {
    transform: translateX(-150%);
  }

  50% {
    transform: translateX(8%);
  }

  65% {
    transform: translateX(-4%);
  }

  80% {
    transform: translateX(4%);
  }

  95% {
    transform: translateX(-2%);
  }

  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
  }

  50% {
    -webkit-transform: translateX(8%);
  }

  65% {
    -webkit-transform: translateX(-4%);
  }

  80% {
    -webkit-transform: translateX(4%);
  }

  95% {
    -webkit-transform: translateX(-2%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

.row-works2 {
  padding: 80px 40px;
  width: 1420px;
}

.row-works2__body {
  padding-left: 80px;
  text-align: left;
  background: url(../img/Works/third-work.png) top center;
  background-size: cover;
}

.row-works2__body a {
  text-decoration: none;
  color: #e7dada;
}

.row-works2__title {
  padding-top: 217px;
  font-family: 'Carter One', 'cursive';
  font-size: 60px;
  color: #e8e9ed;
}

.row-works2__subtitle {
  padding-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #e8e9ed;
}

.row-works2__button {
  padding-bottom: 40px;
  margin: 0;
}

.row-works2__hover {
  display: none;
}

.hover-display3 {
  padding: 0;
  font-family: 'Carter One', 'cursive';
  font-size: 300px;
  color: #e7dada;
  display: block;
  margin-top: -222px;
  margin-bottom: -240px;
  margin-left: 700px;
  margin-right: -260px;
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

.row-works3 {
  padding: 80px 40px;
  width: 1420px;
}

.row-works3__body {
  padding-right: 80px;
  text-align: right;
  background: url(../img/Works/forth-work.png) top center;
  background-size: cover;
}

.row-works3__body a {
  text-decoration: none;
  color: #e7dada;
}

.row-works3__title {
  padding-top: 217px;
  font-family: 'Carter One', 'cursive';
  font-size: 60px;
  color: #e8e9ed;
}

.row-works3__subtitle {
  padding-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #e8e9ed;
}

.row-works3__button {
  margin-left: 1070px;
  text-align: left;
  padding-bottom: 40px;
}

.row-works3__hover {
  display: none;
}

.hover-display4 {
  padding: 0;
  font-family: 'Carter One', 'cursive';
  font-size: 300px;
  color: #e7dada;
  display: block;
  margin-top: -222px;
  margin-bottom: -240px;
  margin-left: -1000px;
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

.row-works6 {
  padding: 80px 40px;
  width: 1420px;
}

.row-works6__body {
  padding-left: 80px;
  text-align: left;
  background: url(../img/Works/five-work.png) top center;
  background-size: cover;
}

.row-works6__body a {
  text-decoration: none;
  color: #e7dada;
}

.row-works6__title {
  padding-top: 217px;
  font-family: 'Carter One', 'cursive';
  font-size: 60px;
  color: #e8e9ed;
}

.row-works6__subtitle {
  padding-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #e8e9ed;
}

.row-works6__button {
  padding-bottom: 40px;
  margin: 0;
}

.row-works6__hover {
  display: none;
}

.hover-display6 {
  padding: 0;
  font-family: 'Carter One', 'cursive';
  font-size: 300px;
  color: #e7dada;
  display: block;
  margin-top: -222px;
  margin-bottom: -240px;
  margin-left: 700px;
  margin-right: -260px;
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

.react-react {
  overflow: hidden;
  align-items: center;
  background: url(../img/React-pizza-bg/React-pizza-bg.png) no-repeat center;
  margin-left: -7px;
  display: flex;
  margin-right: -8px;
  margin-bottom: -7px;
}

.react {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.react__content {
  padding: 40px;
}

.react__body {
  margin-left: 500px;
}

.react__head a {
  text-decoration: none;
}

.react__slider {
  height: 200px;
  margin-left: -500px;
  margin-bottom: 60px;
}

.react__title {
  font-family: 'Carter One', 'cursive';
  font-size: 60px;
  color: #e8e9ed;
}

.react__button {
  margin: 0 auto;
  text-align: center;
  margin-left: 140px;
}

.react__button .button-web__body-pizza {
  border: none;
}

.pizza {
  width: 243px;
  height: 244px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-foot {
  overflow: hidden;
  background: url(../img/Footer/Footer-BG.png) no-repeat center;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -7px;
}

.hover-skills {
  background: url(../img/Footer/MacBookPro16.png) 0 0 no-repeat;
  z-index: 100;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  margin-left: 20px;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(8%);
  }

  65% {
    transform: translateY(-4%);
  }

  80% {
    transform: translateY(4%);
  }

  95% {
    transform: translateY(-2%);
  }

  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }

  50% {
    -webkit-transform: translateY(8%);
  }

  65% {
    -webkit-transform: translateY(-4%);
  }

  80% {
    -webkit-transform: translateY(4%);
  }

  95% {
    -webkit-transform: translateY(-2%);
  }

  100% {
    -webkit-transform: translateY(0%);
  }
}

.head-footer {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.head-footer__column {
  text-align: center;
}

.head-footer__column .mac-book .mac {
  margin-top: 100px;
  margin-bottom: 100px;
  content: '';
  width: 1044px;
  height: 617px;
  transition: 0.3s;
  opacity: 0;
  z-index: 1;
}

.head-footer__column .mac-book :hover {
  opacity: 1;
  content: '';
  width: 1044px;
  height: 617px;
  background: url(../img/Footer/mac-hover.png) 0 0 no-repeat;
}

.head-footer__title {
  font-family: 'Carter One', 'cursive';
  font-size: 52px;
  color: #e8e9ed;
  margin-top: 100px;
  margin-right: 50px;
}

.head-footer__subtitle {
  padding-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: #e8e9ed;
}

.skills-footer {
  opacity: 1;
  transition: all ease 0.7s;
}

.skills-footer__row {
  padding: 20px 50px 20px 50px;
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  justify-content: space-between;
}

.skills-footer__js .js {
  content: '';
  background: url(../img/Footer/js-file.png) 0 0 no-repeat;
  width: 150px;
  height: 150px;
  opacity: 0.8;
  transition: 0.3s;
  border-radius: 30px;
}

.skills-footer__js :hover {
  opacity: 1;
  content: '';
  background: url(../img/Footer/js-file-hover.png) 0 0 no-repeat;
  width: 150px;
  height: 150px;
}

.skills-footer__html .html {
  content: '';
  background: url(../img/Footer/html-5.png) 0 0 no-repeat;
  width: 150px;
  height: 150px;
  opacity: 0.8;
  transition: 0.3s;
}

.skills-footer__html :hover {
  opacity: 1;
  content: '';
  background: url(../img/Footer/html-5-hover.png) 0 0 no-repeat;
  width: 150px;
  height: 150px;
}

.skills-footer__react .react {
  content: '';
  background: url(../img/Footer/react.js.png) 0 0 no-repeat;
  width: 150px;
  height: 150px;
  opacity: 0.8;
  transition: 0.3s;
}

.skills-footer__react :hover {
  opacity: 1;
  content: '';
  background: url(../img/Footer/react.js-hover.png) 0 0 no-repeat;
  width: 150px;
  height: 150px;
}

.skills-footer__sass .sass {
  content: '';
  background: url(../img/Footer/sass.png) 0 0 no-repeat;
  width: 150px;
  height: 150px;
  opacity: 0.8;
  transition: 0.3s;
}

.skills-footer__sass :hover {
  opacity: 1;
  content: '';
  background: url(../img/Footer/sass-hover.png) 0 0 no-repeat;
  width: 150px;
  height: 150px;
}

.foot-f {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.foot-f a {
  text-decoration: none;
  color: #ffffff;
}

.foot-f__row {
  font-family: 'Carter One', 'cursive';
  font-size: 60px;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 20px;
}

.foot-f__row img {
  padding: 0px 30px;
}

.foot-f__copy {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #ffffff;
  padding-bottom: 30px;
}

.modalDialog {
  transition: all ease 0.4s;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: -180px;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}

.modalDialog:target {
  display: block;
  pointer-events: auto;
}

.modalDialog > div {
  width: 1600px;
  height: 1000px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 50px;
  background: transparent;
  background: -o-linear-gradient(#fff, #999);
}

.close {
  font-family: 'Carter One', 'cursive';
  transition: all ease 0.4s;
  color: #d6d2d2;
  line-height: 25px;
  position: absolute;
  right: 22px;
  text-align: center;
  top: 40px;
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  border-radius: 12px;
}

.close:hover {
  color: #FFFFFF;
}

.modal {
  transition: all ease 0.4s;
  text-align: center;
  border-radius: 50px;
  background: url(../img/Form/bg-form.png) no-repeat center;
  width: 1600px;
  height: 1000px;
  overflow: hidden;
  margin-left: -7px;
  margin-right: -8px;
  margin-bottom: -7px;
}

.modal__container {
  display: flex;
  padding-top: 200px;
  padding-left: 90px;
}

.modal__row {
  padding: 100px;
  text-align: center;
  align-items: center;
}

.modal__imput-name {
  padding-bottom: 20px;
}

.modal__imput-name input {
  background-color: #d6d2d2;
  color: #999;
  font-family: 'Carter One', 'cursive';
  font-size: 30px;
  width: 533px;
  height: 77px;
  padding-left: 20px;
}

.modal__imput-email {
  padding-bottom: 20px;
}

.modal__imput-email input {
  background-color: #d6d2d2;
  color: #999;
  font-family: 'Carter One', 'cursive';
  font-size: 30px;
  width: 533px;
  height: 77px;
  padding-left: 20px;
}

.modal__imput-message {
  padding-bottom: 20px;
}

.modal__imput-message input {
  background-color: #d6d2d2;
  color: #999;
  font-family: 'Carter One', 'cursive';
  font-size: 30px;
  width: 533px;
  height: 177px;
  padding-left: 20px;
  padding-bottom: 100px;
}

.modal__send {
  padding-top: 20px;
}

.modal__send button {
  cursor: pointer;
  border: 1px solid #652da3;
  outline: none;
  background: transparent;
  color: #d6d2d2;
  font-family: 'Carter One', 'cursive';
  font-size: 24px;
  width: 300px;
  height: 70px;
  border-radius: 50px;
}

.modal__send :hover {
  background-color: #353642;
}

.modal__links {
  text-align: center;
  width: 500px;
  padding-bottom: 300px;
  margin-top: -200px;
  margin-left: 70px;
}

.modal__links .preview__links {
  display: flex;
  justify-content: space-between;
}

.modal__links .preview__git {
  padding: 10px;
}

.modal__links .preview__git img {
  width: 99px;
}

.modal__links .preview__inst {
  padding: 10px;
}

.modal__links .preview__inst img {
  width: 99px;
}

.modal__links .preview__linked {
  padding: 10px;
}

.modal__links .preview__linked img {
  width: 99px;
}

.modal__button {
  margin-top: 100px;
  margin-left: 40px;
}

.modal__button button {
  color: #3f3f44;
  outline: none;
  width: 220px;
  height: 60px;
  cursor: pointer;
  font-family: 'Carter One', 'cursive';
  font-size: 24px;
  background-color: #eeeaea;
  border-radius: 4px;
  border: none;
}

.modal__button a {
  text-decoration: none;
  color: #1c1d25;
}

@media (min-width: 989.98px) {
  .menu__list :hover {
    transition: all ease 0.3s;
    margin-top: -3px;
    color: #d7adb8;
    border-bottom: 3px solid #d97791;
  }

  .menu .link-light :hover {
    margin-top: -3px;
    color: #d66382;
    border-bottom: 3px solid #d97791;
  }
}

@media (max-width: 1700px) {
  .modalDialog {
    top: -100px;
  }
}

@media (max-width: 1692px) {
  .react__body {
    margin-left: 290px;
    width: auto;
  }

  .react__title {
    font-size: 40px;
    margin-left: 250px;
  }

  .react__button {
    padding-left: 200px;
  }

  .pizza {
    width: auto;
    height: auto;
  }
}

@media (max-width: 1679px) {
  .hover-skills {
    background: url(../img/Footer/MacBookPro-min.png) 0 0 no-repeat;
    margin-right: -30px;
  }

  .head-footer__column .mac-book .mac {
    width: 770px;
    height: 456px;
    margin-top: 150px;
    margin-bottom: 170px;
  }

  .head-footer__column .mac-book :hover {
    background: url(../img/Footer/mac-hover-min.png) 0 0 no-repeat;
    width: 770px;
    height: 456px;
  }
}

@media (max-width: 1500px) {
  .react__title {
    margin-left: 250px;
  }
}

@media (max-width: 1450px) {
  .head-footer__title {
    font-size: 40px;
    margin-left: -50px;
    margin-top: 150px;
  }

  .head-footer__subtitle {
    font-size: 20px;
    margin-left: -50px;
  }

  .skills-footer {
    margin-left: -50px;
  }

  .skills-footer__row {
    font-size: 40px;
    padding: 0px 30px 30px 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 1440px) {
  .modalDialog {
    top: 0px;
    right: -450px;
  }

  .close {
    right: 490px;
    top: 30px;
  }

  .modal {
    background: url(../img/Form/bg-form-1400.png) no-repeat center;
    width: 1126px;
    height: 685px;
  }

  .modal__container {
    padding-top: 70px;
    padding-left: 50px;
  }

  .modal__imput-name input {
    font-size: 20px;
    width: 300px;
    height: 40px;
    padding-left: 20px;
  }

  .modal__imput-email input {
    font-size: 20px;
    width: 300px;
    height: 40px;
    padding-left: 20px;
  }

  .modal__imput-message input {
    font-size: 20px;
    width: 300px;
    height: 140px;
    padding-left: 20px;
  }

  .modal__links {
    padding-top: 70px;
    padding-left: -10px;
    padding-bottom: 50px;
    margin-left: -30px;
  }
}

@media (max-width: 1378px) {
  .menu__link {
    font-size: 30px;
  }

  .preview__body {
    margin-top: 0px;
    width: 308px;
    height: 388px;
    background: url(../img/Header/logo-small.jpg.png) 0 0 no-repeat;
  }

  .preview__subtitle {
    margin-left: -290px;
    padding-top: 200px;
    font-size: 20px;
  }

  .preview__title {
    margin-left: -290px;
    font-size: 60px;
  }

  .preview__footer {
    margin-top: 40px;
    margin-left: 250px;
  }

  .button-web {
    margin-left: -290px;
  }
}

@media (max-width: 1365px) {
  .works__head {
    padding: 10px;
  }

  .works__subtitle {
    margin-left: -40px;
    font-size: 24px;
  }

  .works__title {
    margin-left: -40px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .row-works {
    width: 1100px;
    padding-left: 20px;
  }

  .row-works__title {
    padding-top: 150px;
    font-size: 40px;
  }

  .row-works__subtitle {
    font-size: 20px;
  }

  .row-works__button {
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
  }

  .hover-display {
    display: none;
  }

  .row-works1 {
    width: 1100px;
    padding-left: 20px;
  }

  .row-works1__body {
    padding-left: 80px;
    text-align: left;
    background-size: cover;
  }

  .row-works1__title {
    padding-top: 150px;
    font-size: 40px;
  }

  .row-works1__subtitle {
    font-size: 20px;
  }

  .row-works1__button {
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
  }

  .hover-display2 {
    display: none;
  }

  .row-works2 {
    width: 1100px;
    padding-left: 20px;
  }

  .row-works2__title {
    padding-top: 150px;
    font-size: 40px;
  }

  .row-works2__subtitle {
    font-size: 20px;
  }

  .row-works2__button {
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
  }

  .hover-display3 {
    display: none;
  }

  .row-works3 {
    width: 1100px;
    padding-left: 20px;
  }

  .row-works3__body {
    padding-left: 80px;
    text-align: left;
    background-size: cover;
  }

  .row-works3__title {
    padding-top: 150px;
    font-size: 40px;
  }

  .row-works3__subtitle {
    font-size: 20px;
  }

  .row-works3__button {
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
  }

  .hover-display4 {
    display: none;
  }

  .row-works6 {
    width: 1100px;
    padding-left: 20px;
  }

  .row-works6__title {
    padding-top: 150px;
    font-size: 40px;
  }

  .row-works6__subtitle {
    font-size: 20px;
  }

  .row-works6__button {
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
  }

  .hover-display6 {
    display: none;
  }

  .react__body {
    margin-left: 130px;
    padding-left: 20px;
  }
}

@media (max-width: 1300px) {
  .react__slider {
    display: none;
  }

  .react__title {
    margin-left: -120px;
  }

  .react__button {
    padding-left: 60px;
    margin-left: 0px;
  }

  .react__button {
    display: none;
  }
}

@media (max-width: 1200px) {
  .about__info {
    font-size: 50px;
  }

  .footer-foot {
    background: url(../img/Footer/Footer-BG-mini.png) no-repeat center;
  }

  .hover-skills {
    display: none;
  }

  .head-footer {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 70px;
    margin-top: -100px;
    margin-bottom: -200px;
  }

  .head-footer__column .mac-book .mac {
    display: none;
  }

  .head-footer__column .mac-book :hover {
    display: none;
  }

  .head-footer__column .mac-book {
    display: none;
    content: '';
  }

  .head-footer__title {
    margin-left: 0px;
    margin-top: 50px;
  }

  .skills-footer {
    justify-content: center;
    display: flex;
    padding-left: 30px;
  }

  .skills-footer__row {
    align-items: center;
    text-align: center;
    padding-left: 140px;
    padding-top: 1px;
    padding: 30px;
  }

  .skills-footer__js .js {
    background: url(../img/Footer/js-file-min.png) 0 0 no-repeat;
    width: 98px;
    height: 98px;
    margin: 30px;
  }

  .skills-footer__js :hover {
    background: url(../img/Footer/js-file-hover-min.png) 0 0 no-repeat;
    width: 98px;
    height: 98px;
    margin: 30px;
  }

  .skills-footer__html .html {
    background: url(../img/Footer/html-5-min.png) 0 0 no-repeat;
    margin: 30px;
    width: 98px;
    height: 105px;
  }

  .skills-footer__html :hover {
    background: url(../img/Footer/html-5-hover-min.png) 0 0 no-repeat;
    margin: 30px;
    width: 98px;
    height: 105px;
  }

  .skills-footer__react .react {
    background: url(../img/Footer/react.js-min.png) 0 0 no-repeat;
    width: 98px;
    height: 110px;
    margin: 30px;
  }

  .skills-footer__react :hover {
    background: url(../img/Footer/react.js-hover-min.png) 0 0 no-repeat;
    margin: 30px;
    width: 98px;
    height: 110px;
  }

  .skills-footer__sass .sass {
    background: url(../img/Footer/sass-min.png) 0 0 no-repeat;
    width: 99px;
    height: 99px;
    margin: 30px;
  }

  .skills-footer__sass :hover {
    background: url(../img/Footer/sass-hover-min.png) 0 0 no-repeat;
    margin: 30px;
    width: 99px;
    height: 99px;
  }

  .foot-f__row img {
    margin-bottom: -25px;
  }

  .foot-f__row {
    font-size: 40px;
    margin-bottom: -40px;
    margin-left: -50px;
    margin-top: 40px;
  }

  .close {
    right: 740px;
    top: 30px;
    font-size: 30px;
  }

  .modal {
    background: url(../img/Form/bg-form-1200.png) no-repeat center;
  }

  .modal__row {
    display: block;
    justify-content: center;
  }

  .modal__imput-name {
    padding-left: 270px;
  }

  .modal__imput-email {
    padding-left: 270px;
  }

  .modal__imput-message {
    padding-left: 270px;
  }

  .modal__send {
    padding-left: 270px;
  }

  .modal__links {
    display: none;
  }

  .modal__button {
    display: none;
  }
}

@media (max-width: 1100px) {
  .row-works {
    width: 900px;
  }

  .row-works1 {
    width: 900px;
  }

  .row-works2 {
    width: 900px;
  }

  .row-works3 {
    width: 900px;
  }

  .row-works6 {
    width: 900px;
  }

  .react__body {
    margin-left: 100px;
  }
}

@media (max-width: 1000px) {
  .button-web__body-pizza {
    margin-left: 0px;
  }
}

@media (max-width: 991px) {
  .modalDialog {
    top: 0px;
    right: 0;
    bottom: 0;
    left: -100px;
  }
}

@media (max-width: 989.98px) {
  .menu__prev {
    display: block;
  }

  .menu__prev .preview__links {
    display: block;
  }

  body.lock {
    overflow: hidden;
  }

  .menu__icon {
    margin-right: 20px;
    display: block;
    position: relative;
    height: 20px;
    z-index: 3;
  }

  .menu__icon.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .menu__icon.active:after {
    bottom: 9px;
    transform: rotate(-45deg);
  }

  .menu__icon.active span {
    transform: scale(0);
  }

  .menu__list {
    margin-top: 50px;
    display: block;
  }

  .menu__icon span {
    position: absolute;
    background-color: #9698a1;
    left: 0;
    width: 100%;
    width: 30px;
    height: 2px;
    top: 9px;
    transition: all ease 0.4s;
  }

  .menu__icon:before,
  .menu__icon:after {
    content: '';
    background-color: #9698a1;
    position: absolute;
    width: 100%;
    width: 30px;
    height: 2px;
    left: 0;
    transition: all ease 0.4s;
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon:after {
    bottom: 0;
  }

  .menu__body {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: -10000px;
    height: 100%;
    width: 100%;
    background-color: #535565;
    padding: 100px 50px 20px 50px;
    transition: all ease 0.8s;
  }

  .menu__body.active {
    right: 0;
    transition: all ease 0.8s;
  }

  .header__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 45px;
    width: 36px;
    background: url(../img/Header/LOGO-mini.png) 0 0 no-repeat;
  }

  .menu__link {
    padding-left: 30px;
    font-size: 30px;
  }

  .theme_changer {
    display: none;
  }

  .preview__body {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: -200px;
    width: 166px;
    height: 200px;
    background: url(../img/Header/logo-smaller.jpg.png) 0 0 no-repeat;
  }

  .preview__subtitle {
    margin-left: -290px;
    padding-top: 70px;
    font-size: 16px;
  }

  .preview__title {
    margin-left: -290px;
    font-size: 30px;
    margin-top: 0px;
  }

  .preview__footer {
    display: none;
  }

  .preview__links {
    display: none;
  }

  .button-web__body-pizza {
    width: auto;
    height: auto;
  }

  .button-web {
    margin-left: -290px;
    padding: 13px 0px 10px 0px;
    font-size: 12px;
  }

  .button-web__body {
    width: 100px;
    height: 35px;
    padding: 7px 10px 7px 10px;
  }

  .button-web__arrow {
    display: none;
  }

  .works__subtitle2 {
    margin-left: -40px;
    font-size: 23px;
  }

  .works__title2 {
    margin-left: -40px;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .btn1 {
    width: auto;
    height: auto;
  }

  .btn2 {
    width: auto;
    height: auto;
  }

  .react__slider {
    margin-left: 0px;
  }
}

@media (max-width: 989.98px) and (max-width: 456px) {
  .menu__body {
    display: block;
  }

  .menu__body .preview__links {
    padding-top: 40px;
    display: flex;
  }
}

@media (max-width: 850px) {
  .modalDialog {
    top: 0px;
    right: 0;
    bottom: 0;
    left: -210px;
  }
}

@media (max-width: 846px) {
  .about__photo {
    font-size: 30px;
  }

  .about__info {
    font-size: 32px;
  }

  .about__bot {
    display: none;
  }

  .works__subtitle {
    margin-top: 30px;
    margin-left: -110px;
  }

  .works__title {
    margin-left: -110px;
  }
}

@media (max-width: 771.98px) {
  ._container {
    padding: 0 10px;
  }

  .preview__body {
    margin-right: -150px;
  }

  .preview__subtitle {
    margin-left: -150px;
  }

  .preview__title {
    margin-left: -150px;
  }

  .button-web {
    margin-left: -150px;
    padding: 13px 0px 10px 0px;
    font-size: 8px;
  }

  .button-web__body {
    width: 70px;
    height: 30px;
    padding: 7px 10px 7px 10px;
  }

  .row-works {
    width: auto;
    padding: 20px;
  }

  .row-works__body {
    padding-left: 20px;
  }

  .row-works__title {
    padding-top: 30px;
    font-size: 20px;
  }

  .row-works__subtitle {
    font-size: 13px;
  }

  .row-works__button {
    display: none;
  }

  .row-works1 {
    width: auto;
    padding: 20px;
  }

  .row-works1__body {
    padding-left: 20px;
  }

  .row-works1__title {
    padding-top: 30px;
    font-size: 20px;
  }

  .row-works1__subtitle {
    font-size: 13px;
  }

  .row-works1__button {
    display: none;
  }

  .row-works2 {
    width: auto;
    padding: 20px;
  }

  .row-works2__body {
    padding-left: 20px;
  }

  .row-works2__title {
    padding-top: 30px;
    font-size: 20px;
  }

  .row-works2__subtitle {
    font-size: 13px;
  }

  .row-works2__button {
    display: none;
  }

  .row-works3 {
    width: auto;
    padding: 20px;
  }

  .row-works3__body {
    padding-left: 20px;
  }

  .row-works3__title {
    padding-top: 30px;
    font-size: 20px;
  }

  .row-works3__subtitle {
    font-size: 13px;
  }

  .row-works3__button {
    display: none;
  }

  .row-works6 {
    width: auto;
    padding: 20px;
  }

  .row-works6__body {
    padding-left: 20px;
  }

  .row-works6__title {
    padding-top: 30px;
    font-size: 20px;
  }

  .row-works6__subtitle {
    font-size: 13px;
  }

  .row-works6__button {
    display: none;
  }

  .react__body {
    width: auto;
    padding: 20px;
    margin-left: 100px;
  }
}

@media (max-width: 700px) {
  .about__info {
    font-size: 30px;
  }

  .about__infotmation {
    font-size: 20px;
  }

  .works__subtitle {
    margin-top: 30px;
    margin-left: 0px;
  }

  .works__title {
    margin-left: 0px;
  }

  .skills-footer__row {
    padding: 0px;
    padding-bottom: 20px;
  }

  .foot-f__copy {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .head-footer__title {
    font-size: 20px;
  }

  .head-footer__subtitle {
    display: none;
  }

  .skills-footer {
    justify-content: center;
    display: flex;
    padding-left: 0px;
  }

  .skills-footer__js .js {
    background: url(../img/Footer/js-file-hover-minum.png) 0 0 no-repeat;
    margin: 30px;
    width: 49px;
    height: 49px;
  }

  .skills-footer__html .html {
    background: url(../img/Footer/html-5-minum.png) 0 0 no-repeat;
    margin: 30px;
    width: 49px;
    height: 55px;
  }

  .skills-footer__react .react {
    background: url(../img/Footer/react.js-minum.png) 0 0 no-repeat;
    margin: 30px;
    width: 49px;
    height: 49px;
  }

  .skills-footer__sass .sass {
    background: url(../img/Footer/sass-minum.png) 0 0 no-repeat;
    margin: 30px;
    width: 49px;
    height: 49px;
  }

  .modalDialog {
    top: -150px;
    left: -300px;
    bottom: 0;
  }

  .close {
    right: 845px;
    top: 140px;
    font-size: 30px;
  }

  .modal {
    background: url(../img/Form/bg-form-mobile.png) no-repeat center;
  }

  .modal__row {
    padding: 150px;
  }

  .modal__imput-name input {
    font-size: 10px;
    width: 200px;
    height: 20px;
    padding-left: 20px;
    border-radius: 12px;
  }

  .modal__imput-email input {
    font-size: 10px;
    width: 200px;
    height: 20px;
    padding-left: 20px;
    border-radius: 12px;
  }

  .modal__imput-message input {
    font-size: 10px;
    width: 200px;
    height: 20px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 12px;
  }

  .modal__send button {
    font-size: 10px;
    width: 200px;
    height: 20px;
  }
}

@media (max-width: 500px) {
  .header-head {
    margin-right: -14px;
  }

  .preview-prew {
    margin-right: -14px;
  }

  .preview {
    margin-right: -14px;
  }

  .works-work {
    margin-right: -14px;
  }

  .react-react {
    margin-right: -14px;
  }

  .footer-foot {
    margin-right: -14px;
  }

  .head-footer {
    margin-right: -10px;
    margin-top: -64px;
    margin-bottom: -130px;
  }

  .foot-f__row img {
    display: none;
  }

  .foot-f__row {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 0px;
  }

  .foot-f__row span {
    margin: 20px;
    padding-top: 20px;
  }

  .foot-f__copy {
    font-size: 13px;
  }
}

@media (max-width: 475px) {
  .about__infotmation {
    font-size: 13px;
  }
}

@media (max-width: 470px) {
  .about__info {
    font-size: 25px;
  }
}

@media (max-width: 425px) {
  .about__photo {
    font-size: 20px;
  }

  .about__photo img {
    width: 97px;
  }

  .works__subtitle {
    margin-left: -40px;
  }

  .works__title {
    margin-left: -40px;
  }
}

@media (max-width: 420px) {
  .skills-footer__row {
    justify-content: center;
  }

  .modalDialog {
    left: -400px;
    top: -200px;
  }

  .close {
    right: 875px;
    top: 160px;
    font-size: 30px;
  }

  .modal {
    background: url(../img/Form/bg-form-320.png) no-repeat center;
  }

  .modal__imput-name {
    padding-top: 20px;
    padding-bottom: 12px;
  }

  .modal__imput-email {
    padding-bottom: 12px;
  }

  .modal__imput-message {
    padding-bottom: 12px;
  }

  .modal__send {
    padding-top: 10px;
  }
}

@media (max-width: 320px) {
  .skills-footer {
    justify-content: center;
    display: flex;
    padding-left: 20px;
  }
}