@font-face {
  font-family: "EastSeaDokdo-Regular";
  font-display: swap;
  src: url("../fonts/EastSeaDokdo-Regular.woff") format("woff"), url("../fonts/EastSeaDokdo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "XanhMono-Italic";
  font-display: swap;
  src: url("../fonts/XanhMono-Italic.woff") format("woff"), url("../fonts/XanhMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "XanhMono-Regular";
  font-display: swap;
  src: url("../fonts/XanhMono-Regular.woff") format("woff"), url("../fonts/XanhMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.menu__icon {
  display: none;
}

.menu__prev {
  display: none;
  z-index: 100;
}

._container {
  max-width: 1680px;
  margin: 0 auto;
}

.header-head {
  margin: -8px;
  overflow: hidden;
  background-color: #1c1d25;
  transition: all ease 0.5s;
  overflow: hidden;
}

.light {
  background-color: #f3f3f3 !important;
  transition: all ease 0.5s;
}

.header {
  transition: all ease 0.5s;
}

.header__content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'Carter One', 'cursive';
}

.header__row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  background: url(../img/Header/LOGO.png) 0 0 no-repeat;
  height: 99px;
  width: 80px;
  margin-left: 20px;
  z-index: 100;
}

.header__button {
  margin: 10px 10px 0px 10px;
}

.light-logo {
  display: block;
  background: url(../img/Header/LOGO-light.png) 0 0 no-repeat;
  height: 99px;
  width: 80px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0px 20px 0px 0px;
}

.menu__list li {
  z-index: 100;
}

.menu__list a {
  z-index: 100;
  color: #9698a1;
  text-decoration: none;
}

.menu .link-light a {
  color: #535565;
}

.menu__link {
  font-size: 38px;
  padding: 0px 20px 0px 20px;
}

.theme_changer {
  transition: all ease 0.5s;
  display: block;
  content: '';
  background: url(../img/Header/switch-button-defoalt.png) 0 0 no-repeat;
  width: 46px;
  height: 25px;
  margin-bottom: 10px;
}

.light-btn {
  transition: all ease 0.5s;
  display: block;
  background: url(../img/Header/switch-button-light.png) 0 0 no-repeat;
}

.preview-prew {
  margin: -8px;
  background-color: #1c1d25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease 0.5s;
  color: #e8e9ed;
}

.light-prev {
  background-color: #f3f3f3;
  transition: all ease 0.5s;
}

.light-prev-text {
  color: #535565 !important;
  transition: all ease 0.5s;
}

.preview__content {
  margin-bottom: 70px;
}

.preview__holder {
  transition: all ease 0.5s;
}

.preview__body {
  margin-top: -90px;
  margin-left: 180px;
  z-index: 10;
  background: url(../img/Header/logo-big.jpg.png) 0 0 no-repeat;
  width: 462px;
  height: 577px;
}

.preview__subtitle {
  margin-left: -450px;
  padding-top: 300px;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
}

.preview__title {
  margin-top: -20px;
  margin-left: -450px;
  font-size: 90px;
  font-family: 'Carter One', 'cursive';
}

.preview__footer {
  margin-top: 100px;
  margin-left: 350px;
  cursor: pointer;
  max-width: 22px;
  width: 100%;
  max-height: 67px;
  height: 100%;
  margin-top: 100px;
}

.preview__footer a {
  text-decoration: none;
}

.preview__footer span {
  color: #9698a1;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.preview__footer img {
  padding: 20px;
}

.preview__links {
  margin-bottom: 180px;
  margin-right: 10px;
  padding: 20px;
}

.preview__git {
  padding: 10px;
}

.preview__git img {
  width: 66px;
}

.preview__inst {
  padding: 10px;
}

.preview__inst img {
  width: 66px;
}

.preview_button {
  display: block;
  align-items: center;
}

.button-web {
  color: #e8e9ed;
  display: flex;
  margin-left: -450px;
  font-family: 'Carter One', 'cursive';
  align-items: center;
  font-size: 27px;
  cursor: pointer;
}

.button-web__container {
  display: flex;
}

.button-web__body {
  padding: 13px 20px 0px 20px;
  width: 181px;
  height: 70px;
  background: url(../img/Preview/button.png) 0 0 no-repeat;
}

.button-web__arrow {
  margin-left: -20px;
  padding-top: 15px;
}

.button-web :hover img {
  margin-left: 16px;
  transition: all ease 0.5s;
}

@media (min-width: 989.98px) {
  .menu__list :hover {
    transition: all ease 0.3s;
    margin-top: -3px;
    color: #d7adb8;
    border-bottom: 3px solid #d97791;
  }

  .menu .link-light :hover {
    margin-top: -3px;
    color: #d66382;
    border-bottom: 3px solid #d97791;
  }
}

@media (max-width: 1378px) {
  .menu__link {
    font-size: 30px;
  }

  .preview__body {
    margin-top: 0px;
    width: 308px;
    height: 388px;
    background: url(../img/Header/logo-small.jpg.png) 0 0 no-repeat;
  }

  .preview__subtitle {
    margin-left: -290px;
    padding-top: 200px;
    font-size: 20px;
  }

  .preview__title {
    margin-left: -290px;
    font-size: 60px;
  }

  .preview__footer {
    margin-top: 40px;
    margin-left: 250px;
  }

  .button-web {
    margin-left: -290px;
  }
}

@media (max-width: 989.98px) {
  .menu__prev {
    display: block;
  }

  .menu__prev .preview__links {
    display: block;
  }

  body.lock {
    overflow: hidden;
  }

  .menu__icon {
    margin-right: 20px;
    display: block;
    position: relative;
    height: 20px;
    z-index: 3;
  }

  .menu__icon.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .menu__icon.active:after {
    bottom: 9px;
    transform: rotate(-45deg);
  }

  .menu__icon.active span {
    transform: scale(0);
  }

  .menu__list {
    margin-top: 50px;
    display: block;
  }

  .menu__icon span {
    position: absolute;
    background-color: #9698a1;
    left: 0;
    width: 100%;
    width: 30px;
    height: 2px;
    top: 9px;
    transition: all ease 0.4s;
  }

  .menu__icon:before,
  .menu__icon:after {
    content: '';
    background-color: #9698a1;
    position: absolute;
    width: 100%;
    width: 30px;
    height: 2px;
    left: 0;
    transition: all ease 0.4s;
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon:after {
    bottom: 0;
  }

  .menu__body {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: -10000px;
    height: 100%;
    width: 100%;
    background-color: #535565;
    padding: 100px 50px 20px 50px;
    transition: all ease 0.8s;
  }

  .menu__body.active {
    right: 0;
    transition: all ease 0.8s;
  }

  .header__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 45px;
    width: 36px;
    background: url(../img/Header/LOGO-mini.png) 0 0 no-repeat;
  }

  .menu__link {
    padding-left: 30px;
    font-size: 30px;
  }

  .theme_changer {
    display: none;
  }

  .preview__body {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: -200px;
    width: 166px;
    height: 200px;
    background: url(../img/Header/logo-smaller.jpg.png) 0 0 no-repeat;
  }

  .preview__subtitle {
    margin-left: -290px;
    padding-top: 70px;
    font-size: 16px;
  }

  .preview__title {
    margin-left: -290px;
    font-size: 30px;
    margin-top: 0px;
  }

  .preview__footer {
    display: none;
  }

  .preview__links {
    display: none;
  }

  .button-web {
    margin-left: -290px;
    padding: 13px 0px 10px 0px;
    font-size: 12px;
  }

  .button-web__body {
    width: 100px;
    height: 35px;
    padding: 7px 10px 7px 10px;
  }

  .button-web__arrow {
    display: none;
  }
}

@media (max-width: 989.98px) and (max-width: 456px) {
  .menu__body {
    display: block;
  }

  .menu__body .preview__links {
    padding-top: 40px;
    display: flex;
  }
}

@media (max-width: 771.98px) {
  ._container {
    padding: 0 10px;
  }

  .preview__body {
    margin-right: -150px;
  }

  .preview__subtitle {
    margin-left: -150px;
  }

  .preview__title {
    margin-left: -150px;
  }

  .button-web {
    margin-left: -150px;
    padding: 13px 0px 10px 0px;
    font-size: 10px;
  }

  .button-web__body {
    width: 70px;
    height: 30px;
    padding: 7px 10px 7px 10px;
  }
}